/* menu-options */
#menu-options{
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

    /* options ul */
    #menu-options ul{
        display: grid;
        width: 500px;
        height: 500px;
        font-size: 3.3rem;
        color: white;
        z-index: 1;
    }

        /* options li */
        #menu-options ul li:nth-child(even){
            text-align: right;
        }
        #menu-options ul li{
            transform: translateY(100%);
            transition: 0.5s;
            clip-path: polygon(0 -100%, 100% -100%, 100% 0%, 0% 0%);
            line-height: 125px;
        }

        .li-show-animation{
            transform: translateY(0%) !important;
            transition: 0.6s !important;
            clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%) !important;
        }

/* options bg */
#menu-options-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    background-color: black;
    transition: 0.3s;
    transition-delay: 0.5s;
    z-index: -1;
}

/* Hide window / Show options bg class */
.menu-options-window-hidden{
    z-index: -1 !important;
    transition-delay: 1s !important;
    transition: 1s;
}
.menu-options-window-hidden ul {
    z-index: 0 !important;
}
    .menu-options-bg-animation{
        transition: 0.3s !important;
        transition-delay: 0.1s !important;
        opacity: 1 !important;
    }