.last-greet-title1 {
  transition: 0.8s;
  transform: translateY(100%);
  clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
}
.last-greet-title2 {
  transition: 0.8s;
  transition-delay: 0.2s;
  transform: translateY(100%);
  clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
}
.last-greet-title3 {
  transition: 0.8s;
  transition-delay: 0.4s;
  transform: translateY(100%);
  clip-path: polygon(0% -100%, 100% -100%, 100% 0%, 0% 0%);
}
.show-lgt {
  transform: translateY(0);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.works {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-titles {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  color: black;
}

.GO-AT-GOAT-button {
  display: flex;
  background-color: rgb(170, 161, 152);
  width: 400px;
  height: 200px;
  color: white;
  font-weight: 600;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
}

.GO-AT-GOAT-button:hover {
  background-color: rgb(191, 183, 175);
}

.GO-AT-GOAT-button:active {
  transform: scale(0.98);
}
